<%- include('partials/head') %>
<body>
    <% userInfo.forEach((item) => { %>
        <div>
            <%= item.fullname %><br>
            <%= item.email %><br>
            <%= item.password %>
        </div>
    <% }) %>
</body>
</html>
